<script setup lang="ts">
import { ref } from 'vue'
const email = ref(null)
const form = ref(false)
const education = ref()
const joiningYear = ref()
const city = ref()
const paymentTier = ref()
const age = ref()
const gender = ref()
const everBenched = ref()
const experienceInCurrentDomain = ref()

const required = (v: any) => {
  return !!v || 'กรุณาใส่ข้อมูลให้ถูกต้อง'
}

const Dialog = ref(false)

// ประกาศฟังก์ชันเพื่อปิด Dialog
const ShowData = () => {
  Dialog.value = true
}


</script>

<template>
  <div class="container-bg">
    <v-container>
      <v-card class="mx-auto px-6 py-8" max-width="800" style="justify-content: center; align-items: center">
        <div class="text-h4 bold-text text-center">ค่าเดาการความน่าจะเป็นที่พนักงานจะทำงานต่อ</div>
        <br />
        <br />
        <v-form v-model="form">
          <v-row>
            <v-col>
              <v-select v-model="education" label="Education" :items="['Bachelors', 'Masters', 'PHD']"></v-select>
            </v-col>
            <v-col>
              <v-text-field v-model="joiningYear" :rules="[required]" class="mb-2"
                label="JoiningYear"></v-text-field></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-select v-model="city" label="City" :items="['Bangalore', 'Pune', 'New Delhi']"></v-select>
            </v-col>
            <v-col>
              <v-text-field v-model="paymentTier" :rules="[required]" class="mb-2" label="PaymentTier"
                clearable></v-text-field></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-model="age" :rules="[required]" class="mb-2" label="Age" clearable></v-text-field></v-col>
            <v-col>
              <v-select v-model="gender" label="Gender" :items="['Male', 'Female']"></v-select></v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-select v-model="everBenched" label="EverBenched" :items="['Yes', 'No']"></v-select></v-col>
            <v-col>
              <v-text-field v-model="experienceInCurrentDomain" :rules="[required]" class="mb-2"
                label="ExperienceInCurrentDomain" clearable></v-text-field></v-col>
          </v-row>
        </v-form>
        {{ education }}
        {{ joiningYear }}
        {{ city }}
        {{ paymentTier }}
        {{ age }}
        {{ gender }}
        {{ everBenched }}
        {{ experienceInCurrentDomain }}
        <v-btn :disabled="!form" color="success" size="50px" style="font-size: 25px; font-style: tahoma" type="submit"
          variant="elevated" block @click="ShowData">ประมวลข้อมูล</v-btn>
      </v-card>
    </v-container>
  </div>
</template>

<style scoped>
.container-bg {
  background-color: #1b1b1b;
  color: white;
  height: 100vh;
  /* ความสูงของพื้นหลังเท่ากับความสูงของหน้าจอ */
  justify-content: center;
  /* จัดให้อยู่ตรงกลางในแนวนอน */
  align-items: center;
  /* จัดให้อยู่ตรงกลางในแนวดิ่ง */
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid #2e2e2e;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px; */
}

.v-card {
  padding: 30px;
  border: 2px solid #726ce6;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
}

.btn-red {
  background-color: #d60000;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
</style>
